:root {
  --header-height: 100px;
  --dist-btwn-cards: 100px;
  --card-width: 300px;
}

.App {
  height: 100vh;
}

.pancake-grid {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  height: 100%;
  header {
    background-color: black;
    color: #666;
    padding: 30px;
    display: grid;
    place-items: center;
    h1 {
      margin: 0;
    }
  }
  article {
    overflow: hidden;
    height: calc(100vh - var(--header-height));
    padding: 15px 0;
  }
}

section {
  border: 2px solid #849596;
  //
  display: grid;
  /* center wrapper old school way */
  width: 1px;
  height: 100%;
  margin: 0 auto;
}

div.card-wrapper {
  position: relative;
  display: inline-grid;
  border: 1px green solid;
  gap: var(--dist-btwn-cards);
  grid-auto-flow: column;
  will-change: transform;
  transform-origin: center;
  // transition: transform 400ms ease-out;
}

div.card-section {
  color: #fff;
  // background-color: #2d2d2d;
  width: var(--card-width);
  height: inherit;
  display: grid;
  grid-template-rows: 3fr auto 1fr;
  gap: 0.5rem;
  place-items: center;
  &:not(.preloader-card) > div {
    background-color: red;
    height: 100%;
    &:first-child {
      position: relative;
    }
  }
  & img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .paragraph {
    text-overflow: ellipsis;
  }
}

.preloader-card {
  transform: translateX(-50%);
  width: var(--card-width);
  & > div {
    width: var(--card-width);
    border-radius: 5px;
    &:first-child {
      width: calc(var(--card-width) + 100px);
      height: 100%;
      position: relative;
    }
    &:last-child {
      height: 100%;
    }
  }
}

/* center */
.center {
  justify-content: center;
  align-content: center;
}
